<div id='container'> 
  <nav class="navigation">
    <ul>
       <li>
          <a class='selected' href="#/adopt">Adopt a Pet</a>
      </li>
      <li>
            <a href="#/shelter">Find a shelter home</a>
      </li>
    </ul>
  </nav>
  <div  class="search">
    <form name='searchForm' ng-submit="searchPets()" novalidate>
      <label for="Animal"> Animal: </label><br>
      <select name="pets" ng-model="pets.species">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
      </select><br>

      <label for="Location"> Location: </label><br>
      <input name='pets' type="text"
      ng-model="pets.location"
      placeholder="Enter zipcode" required
      ng-class="{'error': searchForm.$invalid}"/>

      <button type="submit" value="search" ng-disabled='shortlyForm.$invalid'>
        search
      </button>
    </form>
  </div>
  <div class="pets">
    <div class="pet"
        ng-repeat="pet in data.pets">
      <img class="image" src="{{pet.imgUrl}}">
      <div class="info">
        <span class="name">{{ pet.name }}</span>
        <!-- <div class="breed">{{ pet.breed }}</div> -->
        <div class="location">{{ pet.location }}</div>
        <!-- <a href="{{ link.baseUrl }}/{{ link.code }}">{{ link.baseUrl }}/{{ link.code }}</a> -->
      </div>
    </div>
  </div>
</div>