<div id='container'> 
  <nav class="navigation">
    <ul>
       <li>
          <a href="#/adopt">Adopt a Pet</a>
      </li>
      <li>
          <a class='selected' href="#/shelter">Find a shelter home</a>
      </li>
    </ul>
  </nav>
  <div class="search">
    <form name='searchForm' ng-submit="addPet()" novalidate>
      <label for="Animal"> Animal: </label>
      <select name="pets" ng-model="pet.species">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
      </select><br>

      <label for="Name"> Name: </label>
      <input name='pets' type="text"
      ng-model="pet.name"
      placeholder="Enter name" required
      ng-class="{'error': searchForm.$invalid}"/><br>

      <label for="Sex"> Sex: </label>
      <input name='pets' type="text"
      ng-model="pet.sex"
      placeholder="Enter sex" required
      ng-class="{'error': searchForm.$invalid}"/><br>

      <label for="Location"> Location: </label>
      <input name='pets' type="text"
      ng-model="pet.zip"
      placeholder="Enter zipcode" required
      ng-class="{'error': searchForm.$invalid}"/><br>

      <label for="Image Url"> Image Url: </label>
      <input name='pets' type="text"
      ng-model="pet.imgUrl"
      placeholder="Enter imgUrl" required
      ng-class="{'error': searchForm.$invalid}"/><br>

      <label for="Rescue Group"> Rescue Group: </label>
      <input name='pets' type="text"
      ng-model="pet.rescuegrp"
      placeholder="Enter rescuegrp" required
      ng-class="{'error': searchForm.$invalid}"/><br>

      <button type="submit" value="search" ng-disabled='shortlyForm.$invalid'>
        submit
      </button>
    </form>
  </div>
</div>